.homeContainer {
    display: flex;
    height: 100vh;
    background-color: #000000; /* Dark gray background */
    color: white;
  }
  
  .sidebarArea {
    /* width: 25%;  */
    /* padding: 1rem; */
    border-right: 1px solid #4b4a4a; /* Slightly lighter border */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .contentArea {
    flex: 1;
  }